<app-spinner></app-spinner>
<div class="admin-table">
  <div class="create-btn">
    <button class="button secondary-btn-sm action-btn"
      (click)="navigateToCapsulePage('admin/capsule/createcapsule')">
      Create Capsule
    </button>
  </div>
  <div class="col-lg-12">
    <div class="search-box">
      <input type="search" name="search" placeholder="What are you looking for?" (keyup)="onSearch($event)" />
      <i class="pi pi-search"></i>
    </div>
  </div>
  <div>
    <app-data-table #capsuleTable [columns]="capsuleColumns" [data]="capsulePendingApproval"></app-data-table>
  </div>
</div>