<div *ngIf="crumbs" class="admin-page p-main" [ngClass]="{'create-page': pageLoaded}">
  <div class="container px-0">
    <div *ngIf="crumbs.length > 1" class="row p-3">
      <span class="page-title">{{ crumbs[1].displayName }}</span>
    </div>
    <div class="row back-link p-3">
      <ng-container *ngFor="let crumb of crumbs; let i = index">
        <ng-container>
          <a class="url-link" [diabled]="i === crumbs.length-1" (click)="navigateToCapsulePage(crumb.navUrl)">{{ crumb.displayName }}</a>
        </ng-container>
      </ng-container>
    </div>

    <div class="row">
      <div class="container px-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>